---
import Button from "@/components/button.astro";

interface Props {
  text: string;
  label?: string;
  successMessage: string;
  errorMessage: string;
  class?: string;
}

const {
  text,
  label,
  successMessage,
  errorMessage,
  class: classValue =
    "cursor-pointer px-0 py-0 text-xs font-semibold text-blue-100",
} = Astro.props;
---

<Button
  type="button"
  variant="text"
  class={classValue}
  data-copy-text={text}
  data-copy-success={successMessage}
  data-copy-error={errorMessage}
>
  <slot name="label">{label}</slot>
</Button>
